
& .formQuiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;

    & h1{
        width: 90%;
        text-align: center;
    }

    & .manageQuiz{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 90%;
        background-color: var(--mainColor);
        border-radius: 2rem;
        padding: 1rem;

        & div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .5rem;
            width: 100%;

            & label{
                width: 80%;
                color: var(--whiteColor);
                font-size: larger;
            }
        }
        & .put{
            border-radius: 2rem;

            & #label{
                width: 100%;
                height: 4rem;
                border: none;
                border-radius: 2rem;
                font-size: large;
                outline: none;
                overflow: hidden;
                padding: 0 1rem;
            }
        }
        & .det{

            & #detail{
                width: 100%;
                min-height: 6rem;
                border: none;
                border-radius: 1rem;
                font-size: large;
                outline: none;
                overflow: hidden;
                padding: 1rem;
            }
        }

        & .make{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 3rem;
            background-color: var(--blackColor);
            border: none;
            border-radius: 2rem;
            color: var(--whiteColor);
            font-size: large;
            overflow: hidden;
        }
    }
}