:root{
	--mainColor: #34a3ff;
	--secondaryColor: #ff9034;
	--greenColor: #3eff34;
	--pinkColor: #f534ff;
	--silver: #B9B9B9;
	--whiteColor: #ffffff;
	--blackColor: #000000;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

& .app{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	width: 100%;
	height: 100%;
	font-size: x-large;
	overflow: hidden;

	& .up{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		width: 100%;
		height: 40%;
		background-color: var(--mainColor);
		border-bottom-left-radius: 4rem;
		border-bottom-right-radius: 4rem;
		padding: 0.5rem;

		& header{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 4rem;

			& .menuOpen{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 3rem;
				aspect-ratio: 4/4;
				background-color: transparent;
				border: none;

				& img{
					width: 100%;
				}
			}

			& .logo{
				color: var(--whiteColor);
				font-size: 3rem;
				font-weight: bold;
				font-style: italic;
				letter-spacing: 1.2rem;
				text-decoration: none;
			}

			& .cup{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 3rem;
				aspect-ratio: 4/4;

				& img{
					width: 100%;
				}
			}
		}

		& .hero{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;
			height: calc(100% - 4rem);

			& p{
				width: 90%;
				color: var(--whiteColor);
				font-size: small;
				line-height: 1.5rem;
				text-align: center;
			}

			& .see{
				color: var(--whiteColor);
				font-size: large;
				font-weight: bolder;
				letter-spacing: 0.5rem;
				text-decoration: none;
			}
		}
	}
}