:root{
	--mainColor: #34a3ff;
	--secondaryColor: #ff9034;
	--greenColor: #3eff34;
	--pinkColor: #f534ff;
	--silver: #B9B9B9;
	--whiteColor: #ffffff;
	--blackColor: #000000;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}